<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>


  <ion-list inset>
    <button ion-item *ngFor="let list of data" (click)="listSelected(list.uuid)">
      {{ list.name }}
        <ul>
          <li *ngFor="let item of list.items"> {{item.name}}</li>
        </ul>
    </button>
  </ion-list>


</ion-content>
